// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 基本情報編集モーダルウインドウ */

.label-overtime-request {
  margin-top: 5px;
}

.btn-overtime-request {
  margin: 15px 0;
  width: 30%;
}